{% for neighbor in bgp %}
 neighbor {{ neighbor.ip }} description {{ neighbor.name }}
 neighbor {{ neighbor.ip }} remote-as {{ neighbor.remote_as }}
 neighbor {{ neighbor.ip }} inherit peer-session peeringdb
 neighbor {{ neighbor.ip }} ttl-security hops 1
 neighbor {{ neighbor.ip }} maximum-prefix 800 90 restart 60
 neighbor {{ neighbor.ip }} activate
 neighbor {{ neighbor.ip }} inherit peer-policy
 address-family ipv4 unicast
{% endfor %}

router bgp 5678
 neighbor 10.11.11.25 remote-as 1234
 neighbor 10.11.11.25 description AS-ACME
 neighbor 10.11.11.25 inherit peer-session peeringdb
 neighbor 10.11.11.25 ttl-security hops 1
 address-family ipv4 unicast
  neighbor 10.11.11.25 activate
  neighbor 10.11.11.25 maximum-prefix 800 90 restart 60
  neighbor 10.11.11.25 inherit peer-policy peer-pol-mchr4

https://www.cisco.com/c/en/us/td/docs/ios-xml/ios/iproute_bgp/configuration/xe-16/irg-xe-16-book/configuring-bgp-neighbor-session-options.html
https://github.com/stevecnz/peerpal
